main {
  min-height: 80vh;
}
.size-md {
  height: 100px;
  width: 100px;
}

.size-sm {
  height: 30px;
  width: 30px;
}

.slick-prev:before,
.slick-next:before {
  color: #f3969a !important;
}

.variable-item:hover {
  background-color: #ffb300;
}
/**Card**/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

body {
  background: #f9f9f9;
  font-family: 'roboto', sans-serif;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

.food-card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.food-card:hover {
  -webkit-box-shadow: 0 5px 40px #fec95762;
  box-shadow: 0 5px 20px #fec95762;
}

.food-card .food-card_img {
  display: block;
  position: relative;
}

.food-card .food-card_img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.food-card .food-card_img i {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 25px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.food-card .food-card_img i:hover {
  top: 18px;
  right: 28px;
  font-size: 29px;
}

.food-card .food-card_content {
  padding: 15px;
}

.food-card .food-card_content .food-card_title-section {
  height: 100px;
  overflow: hidden;
}

.food-card .food-card_content .food-card_title-section .food-card_title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  display: block;
  line-height: 1.3;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-card .food-card_content .food-card_title-section .food-card_category {
  font-size: 15px;
  display: block;
}

.food-card .food-card_content .food-card_bottom-section .space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers {
  margin-left: 17px;
}

.food-card
  .food-card_content
  .food-card_bottom-section
  .food-card_subscribers
  img,
.food-card
  .food-card_content
  .food-card_bottom-section
  .food-card_subscribers
  .food-card_subscribers-count {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  border: 3px solid #fff;
  margin-left: -17px;
  float: left;
  background: #f5f5f5;
}

.food-card
  .food-card_content
  .food-card_bottom-section
  .food-card_subscribers
  .food-card_subscribers-count {
  position: relative;
}

.food-card
  .food-card_content
  .food-card_bottom-section
  .food-card_subscribers
  .food-card_subscribers-count
  span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 13px;
}

.food-card .food-card_content .food-card_bottom-section .food-card_price {
  font-size: 28px;
  font-weight: 500;
  color: #f47a00;
}

.food-card .food-card_content .food-card_bottom-section .food-card_order-count {
  width: 130px;
}

.food-card
  .food-card_content
  .food-card_bottom-section
  .food-card_order-count
  input {
  background: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
}

.food-card
  .food-card_content
  .food-card_bottom-section
  .food-card_order-count
  button {
  border-color: #f5f5f5;
  border-width: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 992px) {
  .food-card--vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 235px;
  }

  .food-card--vertical .food-card_img img {
    width: 200px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

/**Pagination**/
.pagination li a {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 12px;
  border: 1px solid rgb(160, 160, 160);
  margin-left: 5px;
  cursor: pointer;
}
.pagination .active {
  color: #fff;
}
.pagination .active a {
  background-color: #fc9399;
}
