main {
  min-height: 80vh;
}
.size-md {
  height: 100px;
  width: 100px;
}

.size-sm {
  height: 30px;
  width: 30px;
}

.slick-prev:before,
.slick-next:before {
  color: #f3969a !important;
}

.variable-item:hover {
  background-color: #ffb300;
}

/**Pagination**/
.pagination li a {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 12px;
  border: 1px solid rgb(160, 160, 160);
  margin-left: 5px;
  cursor: pointer;
}
.pagination .active {
  color: #fff;
}
.pagination .active a {
  background-color: #fc9399;
}

.cart {
  position: relative;
}
.product-card:hover {
  box-shadow: 5px 5px 15px 5px #ffbbbb;
}
.modal-content {
  background-color: #ffc94f !important;
}
